fastapi==0.108.0
google-cloud-storage==2.14.0
peft @ git+https://github.com/huggingface/peft@a18734d87aa9ae6b94b5bdde192b265bfad7c0b3
pydantic==2.6.3
ray==2.9.3
torch==2.2.1
transformers @ git+https://github.com/huggingface/transformers@00c1d87a7d5c8dfb4554370983b5a3f7c069edd7
